@import '../mixins/buttons';

/**
makeButton($bgColor,$borderColor,$fontColor,$hoverBgColor,$activeBgColor, $altFontColor,borderBottomColor,$font)
*/

.btn-green {
  @include makeButton($clover, $clover, #fff, #3da126, #3da126, #fff);
}

.btn-cartAction {
  @include makeButton($tangerine, #eeb952, $charcoal, #ffbc3e, #ffbc3e, $charcoal, #cea047,"FranklinGothicURW-Dem");
  svg{
    vertical-align: top;
    margin-right: 5px;
    width: 26px;
    &.autoShip {
      width: 30px;
      @media (min-width: $screen-sm-min) {
        width: 36px;
      }
    }
  }
}


.btn-lightGrey {
  @include makeButton(#f8f8f8, #e4e4e4, #6d7275, #ececec, #ececec, #6d7275, #d4d4d4,"FranklinGothicURW-Dem");
}

.btn-lightGreyGhost {
  @include makeButton(#FFFFFF, #e4e4e4, #81878a, #FFFFFF, #FFFFFF, #6d7275, #d4d4d4,"FranklinGothicURW-Dem");
}

.btn-lDkGrey {
  @include makeButton(#f8f8f8, #e4e4e4, #6d7275, #ececec, #ececec, #6d7275, #d4d4d4,"FranklinGothicURW-Dem");
}
.btn-filter-tag {
  @include makeButtonTopGradient(#fdfdfd, #e4e4e4, #6d7275, #fdfdfd,#ececec, #6d7275, #d4d4d4, "FranklinGothicURW-Boo");
}