.infoContainers {
  background: #F9F9F9;
  border: 1px solid rgba(74, 78, 80, 0.20);
  padding: 0 8px;
  @media (min-width: $screen-sm-min) {
    padding: 0 15px;
  }
  margin-bottom: 16px;
  border-radius: 6px;
  .infoSection {
    padding: 8px 0;
    @media (min-width: $screen-sm-min) {
      padding: 15px 0;
    }
    position: relative;
  }
  .title {
    font-family: "FranklinGothicURW-Med";
    font-size: 14px;
    color: $charcoal;
    letter-spacing: 0;
    line-height: 18px;
    display: block;
    padding-bottom: 4px;
  }
  .detail {
    font-family: "FranklinGothicURW-Boo";
    font-size: 14px;
    color: rgba(84, 88, 90, 0.70);
    letter-spacing: 0;
    line-height: 16px;
    margin: 0;
    & + .detail {
      padding-top: 4px;
    }
    small {
      font-size: 100%;
      display: block;
    }
  }
  .editLink {
    font-family: "FranklinGothicURW-Boo";
    font-size: 11px;
    color: $charcoal;
    letter-spacing: 0;
    position: absolute;
    line-height: 18px;
    text-decoration: underline;
    right: 8px;
    &:hover{
      color: #54585A;
    }
  }
  .divider {
    border-bottom: 1px solid #D6D7D7;
    padding-top: 4px;
    margin-bottom: 8px;
    width: 100%;
  }
}

.subText {
  font-family: "FranklinGothicURW-Boo";
  display: block;
  font-size: 14px;
  color: rgba(84, 88, 90, 0.70);
  letter-spacing: 0;
  padding-top: 3px;
}

.promoCenter {
  text-align: center;
  font-family: "FranklinGothicURW-Boo";
  font-size: 14px;
  color: $charcoal;
}

.flyOutDrawer {
  width: 300px;
}

.checkoutFlyOut {
  background-color: #ffffff;
  h5 {
    font-family: "FranklinGothicURW-Med";
    margin: 0;
  }
  .header {
    padding: 14px 10px;
    height: 40px;
    .close {
      top: 11px;
      cursor: pointer;
    }
  }
  .dropdownHolder {
    padding: 15px 10px;
    background: #F6F4F5;
    border-bottom: 1px solid #E1E1E1;
  }
  .form {
    margin: 10px 10px 0;
  }
  .labeled {
    font-family: "FranklinGothicURW-Boo";
    label {
      font-size: 13px;
      color: #939697;
    }
    .dropLabel {
      font-size:16px;
    }
    .form-control {
      background-color: #ffffff;
      padding: 20px 12px 3px;
      height: 45px;
      color:$charcoal;
      &[disabled]{
        opacity: 0.5;
      }
      &:placeholder-shown{
        padding:0 12px;
        vertical-align: middle;
      }
    }
  }
  .form-group {
    margin-bottom: 8px;
  }
  .btn-cartAction {
    font-size: 16px;
    height: 54px;
    background-color: #FFBE4E;
  }
}

.dropLabel {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "FranklinGothicURW-Boo";
  font-size: 14px;
  position: relative;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px), calc(100% - 2.5em) 11px;
  background-size: 6px 6px, 6px 6px, 1px 1.5em;
  background-repeat: no-repeat;
  &::-ms-expand {
    display: none;
  }
  &.big {
    height: 50px !important;
    background-position: calc(100% - 20px) calc(1em + 11px), calc(100% - 15px) calc(1em + 11px), calc(100% - 2.5em) 18px;

  }
}

.radioList {
  border: 1px solid #E1E1E1;
  border-radius: 2px;
  margin: 15px 0 10px;
  li {
    border-top: 1px solid #E1E1E1;
    position: relative;
    padding: 10px;
    .radioItem {
      -webkit-box-shadow: inset 0 0 0 2px #fff;
      -moz-box-shadow: inset 0 0 0 2px #fff;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid #ccc;
      border-radius: 50%;
      position: absolute;
      margin: 0;
      top: 10px;
      &:checked {
        background: $clover;
        border: 2px solid $clover;
      }
    }
    .type {
      font-family: 'FranklinGothicURW-Med';
      font-size: 16px;
      margin-left: 25px;
      color: $charcoal;
      display: inline-block;
      line-height: 16px;
      small {
        font-family: "FranklinGothicURW-Boo";
        font-size: 12px;
        display: block;
        svg {
          margin: 5px 0;
        }
      }
    }
    .price {
      font-family: 'FranklinGothicURW-Med';
      font-size: 14px;
      color: $charcoal;
      position: absolute;
      right: 11px;
      top: 9px;
    }
    &.paypal {
      .type {
        padding: 6px 0;
      }
      .radioItem {
        top: 16px;
      }
    }
  }
  &:first-child {
    border-top: 0;
  }
}

.checkoutSummaryWrapper {
  &.loggedIn {
    margin-top: 16px;
    @media (min-width: $screen-sm-min) {
      margin-top: 32px;
      margin-left: 10px;
    }
    .checkoutSummary {
      margin-top: 16px;
      @media (min-width: $screen-sm-min) {
        margin-top: 0;
      }
      .summaryDetails {
        padding: 10px;
        border: 1px solid #A7A9AA;
        border-radius: 4px;
        margin-bottom: 20px;
        .detail {
          border-bottom: 1px solid #E4E4E4;
          margin-bottom: 8px;
          .detailHeader{
            border-bottom: 1px solid #A7A9AA;
            margin: -10px -10px 6px;
            .inner {
              padding: 10px;
            }
          }
        }
        .grandTotal {
          font-family: 'FranklinGothicURW-Med';
          font-size: 14px;
          padding-bottom: 0;
          b {
            font-size: 24px;
          }
        }
        &.processing{
          position: relative;
          z-index: 800;
          background: #fff;
          .blocking{
            text-align: center;
            text-transform: uppercase;
            font-size: 12px;
            display: block;
            background: url('../images/clover.png') no-repeat 50%;
            > span{
              display: block;
              padding-top: 40%;
            }
          }
        }
        .blocking{
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff;
        }
      }
      .lineItem {
        margin: 0;
        font-size: 14px;
        color: #54585A;
        letter-spacing: 0;
        line-height: 20px;
        i{
          font-family: 'FranklinGothicURW-Med';
          font-style: normal;
        }
        &.shipTo{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      .summaryDetails{
        .savingsTotal{
          margin-top: 6px;
          .savingLabel {
            color: #999999;
            font-size: 12px;
            line-height: 1;
          }
          .luckyKidsLabel{
            color: #999999;
            font-size: 12px;
            line-height: 1;
          }
          b{
            color: #dd7e00;
            font-size:14px;
          }
        }
      }
    }
  }
}

.innerScroll {
  &.loggedIn {
    margin-top: 30px;
    @media (min-width: $screen-sm-min) {
      margin-right: 10px;
    }
    h5{
      margin-top: 30px;
    }
  }
}

.borderedLeft {
  @media (min-width: $screen-sm-min) {
    border-left: 1px solid #979797;
  }
}

.radioForm {
  display: none;
  background: #F9F9F9;
  margin: 0 -10px -10px;
  padding: 10px;
  border-top: 1px solid #E1E1E1;
  &.paypal {
    text-align: center;
    font-family: 'FranklinGothicURW-Boo';
    font-size: 14px;
    padding: 24px 16px 16px;
    color: #939697;
    p {
      margin: 16px 0 0;
    }
  }
  .digitHolder {
    @include clearfix();
    .smallDigits {
      width: 50%;
      float: left;
      &:first-child {
        padding-right: 8px;
      }
    }
  }
  &.pushed {
    margin-top: 10px;
  }
}

.active {
  .radioForm {
    display: block;
  }
}

.orderItems.loggedIn {
  margin-top:0;
  margin-bottom: 20px;
  @media (min-width: $screen-sm-min) {
    margin-top: 40px;
  }
  border: 0;
  .header {
    font-family: 'FranklinGothicURW-Med';
    background: none;
  }
  .itemList {
    border: 1px solid #D6D7D7;
    border-radius: 4px;
    background-color: #F9F9F9;
    .item {
      padding: 10px;
      .img {
        width: 72px;
      }
      .details {
        margin-left: 81px;
        .name {
          font-size: 14px;
        }
        .price {
          font-size: 18px;
        }
        .autoship {
          display: block;
        }
        .qty {
          font-size: 16px;
        }
      }
    }
  }
}

#midShadow {
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100%;
  z-index: 0;
  background-color: #53575A;
  opacity: 0;

  &.fadeIn {
    z-index: 750;
    display: block;
    -ms-filter: opacity(.3);
    filter: alpha(opacity=.3);
    -webkit-opacity: .3;
    -moz-opacity: .3;
    -o-opacity: .3;
    opacity: .3;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
  }
}