.featuredBrand{
  border: 1px solid #eee;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
  margin-left: 8px;
  margin-right: 7px;
  width: 122px;
  float:left;
  img {
    max-width: 100%;
  }
}