.productPage {
  background: #fff;
}
.productDetailContainer {
  margin-bottom: 30px;
  .productDetail {
    .productCard {
      overflow: visible;
      .count {
        line-height: 15px;
      }
      .badge{
        top:10px;
      }
      .underName {
        @include clearfix();
        .ratingContainer {
          float: left;
          position: relative;
          margin: 9px 0;
          @media (min-width: $screen-sm-min) {
            margin: 9px 45px 0;
            padding-bottom: 10px;
          }
        &:hover{
          .dropDown{
            @media (min-width: $screen-sm-min) {
              display: block;
            }
          }
        }
          .dropDown{
            width:350px;
            padding: 15px;
            top:22px;
            left: -1000px;
            @media (min-width: $screen-sm-min) {
              left: -40px;
            }
            @media (min-width: $screen-lg-min) {
              left:-110px;
            }
            h5{
              margin: 0 0 15px;
              border-bottom: 1px solid #eeeeee;
              padding-bottom: 5px;
            }
            &:before{
              left: 44%;
            }
            .graphContainer{
              width: 100%;
            }
            .jumper{
              float: right;
              color:$clover;
              font-weight: bold;
              font-size: 12px;
            }
          }
        }
        .itemNumber {
          float: right;
          color: #81878a;
          font-size: 11px;
          line-height: 30px;
          @media (min-width: $screen-sm-min) {
            float: left;
          }
        }
        .highlight {
          float: left;
          display: none;
          font-weight: bold;
          line-height: 30px;
          font-size: 11px;
          @media (min-width: $screen-md-min) {
            display: block;
          }
        }
      }
      .name {
        font-family: "FranklinGothicURW-Dem";
        color: $charcoal;
        font-size: 14px;
        line-height: 18px;
        display: inline;
        i {
          font-family: "FranklinGothicURW-Boo";
          font-size: 13px;
          color: #81878a;
          font-style: normal;
          @media (min-width: $screen-sm-min) {
            font-size: 16px;
            line-height: 28px;
          }
        }
        @media (min-width: $screen-sm-min) {
          font-size: 24px;
          line-height: 28px;
        }
      }
      .brand {
        display: inline;
        font-size: 13px;
        @media (min-width: $screen-sm-min) {
          font-size: 16px;
          line-height: 28px;
        }
      }
      .productVisual {
        @media (min-width: $screen-sm-min) {
          padding-right: 28px;
        }
        min-height: auto;
        .photoHolder {
          width: 100%;
          margin: 0px -3px 0px;
          @media (min-width: $screen-sm-min) {
            margin: 0px -3px;
          }
          .productSlideRel{
            position: relative;
            z-index: 500;
          }
          .productPageSlide {
            display: none;
            &.slick-initialized {
              display: block;
            }
            img {
              margin: 0 auto;
              max-height: 200px;
              max-width: 170px;
              @media (min-width: $screen-sm-min) {
                width: auto;
                max-width: 100%;
                max-height: 500px;
              }
            }
          }
          @media (min-width: $screen-sm-min) {
            margin-left: -7px;
            margin-right: -8px;
          }
          .zoomIn {
            position: absolute;
            bottom: 10px;
            right: 10px;
            @media (min-width: $screen-sm-min) {
              display: block;
              right: 5px;
              z-index: 700;
              bottom: 15px;
            }
            @media (min-width: $screen-md-min) {
              bottom: 44%;
            }
            @media (min-width: $screen-lg-min) {
              bottom: 3%;
            }
          }
        }
        .productPageNavVertical{
          width: 74px;
          padding: 30px 0;
          display: none;
          &.slick-initialized{
            display: block;
          }
          .slick-slide{
            height: 73px;
            border: 1px solid #e4e4e4;
            margin-bottom: 8px;
            cursor: pointer;
            &:hover{
              border-color: $clover;
            }
            &.slick-selected{
              border-color: $clover;
            }
          }
          .slick-next, .slick-prev{
            height: 21px;
            width: 35px;
            padding: 0 11px;
            left: 20px;
            svg{
              transform: rotate(90deg);
            }
          }
            .slick-next{
              top:auto;
              bottom:0;
          }
          .slick-prev{
            top: 10px;
          }
        }
        .productPageNavHorizontal{
          margin-top:20px;
          @media (min-width: $screen-sm-min) {
            width: 240px;
            margin: 0 auto 20px;
          }
          @media (min-width: $screen-md-min) {
            width: 405px;
            margin: 0 auto 20px;
          }
          @include clearfix();
          .slick-slide, .target, .videotarget{
            border: 1px solid #e4e4e4;
            margin-right: 10px;
            cursor: pointer;
            height: 73px;
            float: left;
            width: 73px;
            &:hover{
              border-color: $clover;
            }
            &.slick-selected{
              border-color: $clover;
            }
          }
          .slick-next, .slick-prev{
            height: 35px;
            width: 21px;
            padding: 9px 3px;
          }
          .slick-next{
            top: 35px;
            right:-30px;
          }
          .slick-prev{
            top: 35px;
            left:-30px;
          }
        }
      }
      .productDescription {
        margin-top: 10px;
        @media (min-width: $screen-sm-min) {
          padding-right: 40px;
        }

        @media (min-width: $screen-lg-min) {
          padding-right: 0;
        }
        .usually{
          margin: 0;
        }
        .price {
          font-size: 24px;
          line-height: 33px;
          @media (min-width: $screen-lg-min) {
            font-size: 28px;
          }
          small {
            padding-left: 10px;
            font-size: 16px;
            line-height: 24px;
          }
        }
        .savings, .autoShipText {
          font-size: 16px;
          line-height: 24px;
          display: inline;
        }
        .perServing {
          font-family: "FranklinGothicURW-Boo";
          font-size: 13px;
          line-height: 20px;
          color: #81878a;
          @media (min-width: $screen-lg-min) {
            font-size: 16px;
          }
        }
        .promo {
          font-size: 14px;
          line-height: 14px;
          margin-bottom: 5px;
          svg {
            margin: 0 5px 0 0;
          }
        }
        .optionFlyoutController {
          @media (min-width: $screen-md-min) {
            width: 48%;
            float: left;
            &:first-child {
              margin-right: 20px;
            }
          }
          @media (min-width: $screen-md-min) {
            &:first-child {
              margin-right: 18px;
            }
          }
        }
        .inStock {
          margin-bottom: 20px;
        }
        .backOrder, .outOfStock{
          font-size: 14px;
          line-height: 17px;
          font-family: "FranklinGothicURW-Boo";
          border-top:1px solid #eeeeee;
          border-bottom:1px solid #eeeeee;
          margin-bottom: 20px;
          padding: 15px 0;
          @include clearfix();
          .title{
            svg{
              margin-right: 8px;
              vertical-align: top;
            }
            color: #09b2d4;
            font-family: "FranklinGothicURW-Dem";
          }
          p{
            padding-left: 22px;
            @media (min-width: $screen-sm-min) {
              margin: 0;
            }

          }
          small{
            line-height: 1;
            font-size: 11px;
            color:#81878a;
            display: block;
          }
          button {
            display: block;
            width: 100%;
            @media (min-width: $screen-sm-min) {
              display: inline-block;
              width: auto;
            }
          }
        }

        .outOfStock{
          display: block;
          margin-top: 10px;
          .pull-left{
            margin-bottom: 10px;
            @media (min-width: $screen-sm-min) {
              margin-top: 11px;
              margin-bottom: 0;
            }
          }
        }

        .specialties {
          display: block;
          .item {
            width: 80px;
            height: 70px;
          }
          @media (min-width: $screen-sm-min) {
            display: none;
          }
        }
        .quickInfo{
          .linkouts{
            width: 70%;
            float: left;
            margin-right: 6px;
            @media (min-width: $screen-sm-min) {
              width: 50%;
            }
          }
          .myList{
            float:right;
            padding-right: 6px;
          }
        }
      }
      .quickControls {
        margin-bottom: 20px;
        .tipIcon {
          display: inline;
          position: absolute;
          top: 15px;
          padding-bottom: 0;
          right: 20px;
        }
        .addToCart {
          span {
            font-family: "FranklinGothicURW-Boo";
            font-size: 16px;
            line-height: 25px;
            vertical-align: top;
          }
          .autoTag {
            font-family: "FranklinGothicURW-Dem";
            font-size: 16px;
            display: inline-block;

          }
        }
        .addToNextAutoShip{
          .autoShipInfo{
            float: left;
            color:$charcoal;
            font-size: 16px;
            line-height: 18px;
            @media (min-width: $screen-sm-min) {
              width: 50%;
            }
            font-family: "FranklinGothicURW-Boo";
            span{
              margin-top: 5px;
              font-size: 11px;
              display: block;
              color:$clover;
              svg{
                position: relative;
                left: -2px;
                bottom: -2px;
              }
            }
          }
          border-top:1px solid #eeeeee;
          border-bottom:1px solid #eeeeee;
          padding: 10px 0;
          @include clearfix();
          button{
            width: 100%;
            font-size: 16px;
            margin-top: 10px;
            @media (min-width: $screen-sm-min) {
              width: auto;
              margin: 0;
            }
            svg{
              vertical-align: top;
              margin-right: 5px;
            }
          }
        }
      }
      .specialties {
        display: none;
        @media (min-width: $screen-sm-min) {
          border-top: 1px dashed #dedede;
          display: block;
        }
        text-align: center;
        .holder {
          @include clearfix();
          width: 288px;
          margin: 10px auto 0;
          @media (min-width: $screen-sm-min) {
            width: 100%;
          }
          @media (min-width: $screen-md-min) {
            width: 430px;
          }
        }
        .collapsible {
          display: none;
          @include clearfix();
        }
        .item {
          svg {
            display: block;
            margin: auto;
          }
          height: 65px;
          width: 65px;
          margin: 5px 8px;
          float: left;
          font-family: "FranklinGothicURW-Boo";
          font-size: 11px;
          line-height: 15px;
          text-align: center;
          @media (min-width: $screen-md-min) {
            margin: 5px 10px;
          }
          &.hideSmaller {
            display: none;
            @media (min-width: $screen-md-min) {
              display: block;
            }
          }
        }
        .viewAll {
          color: $clover;
          cursor: pointer;
          font-size: 12px;
          line-height: 16px;
          font-family: "FranklinGothicURW-Dem";
          i{
            font-style: normal;
            padding-right: 5px;
          }
        }
      }
      .shippingOptions {
        border: 1px solid #e4e4e4;
        & > div {
          padding: 16px 12px 12px;
          border-bottom: 1px solid #e4e4e4;
          &:last-child {
            border-bottom: 0;
          }
          @media (min-width: $screen-lg-min) {
            padding: 20px 15px 15px;
          }
          span {
            padding-bottom: 0;
            border: none;
          }
          .styleSelect {
            background-position: 98% 50%;
            @media (min-width: $screen-lg-min) {
              margin-top: 10px;
            }
          }
          label {
            font-size: 18px;
            margin-bottom: 6px;
            small {
              font-size: 14px;
              @media (min-width: $screen-sm-min) {
                display: inline;
              }

            }
          }
        }
        input[type=radio] {
          margin: 1px 6px 0 0;
        }
        a.autoShipModalTrigger{
          display: none;
          @media (min-width: $screen-md-min) {
            display: block;
            right: 37px;
            top: 14px;
            font-size: 11px;
            position: absolute;
            text-decoration: underline;
          }
        }
        &.disabled{
          border-left: 0;
          border-right: 0;
          * {
            color:#939a9d!important;
          }
        }
      }
      .bundleSizes {
        margin: 15px 0;
        @include clearfix;
        & > div {
          cursor: pointer;
          font-size: 11px;
          line-height: 16px;
          width: 105px;
          float: left;
          margin-right: 8px;
          padding: 15px 12px;
          border: 1px solid #e4e4e4;
          @include border-left-radius(3px);
          @include border-right-radius(3px);
          &.active {
            border-color: $clover;
          }
          b, i {
            font-family: "FranklinGothicURW-Dem";
            font-size: 14px;
          }
          i {
            color: $clover;
            font-style: normal;
          }
        }
        &.disabled{
         > *{
           cursor: auto;
           border:0;
           border-right: 1px solid #eeeeee;
           border-radius: 0;
           color:#939a9d!important;
         }
         > div {
            i{
              color:#939a9d!important;
            }
           &:last-child{
             border:0;
           }
          }
        }
      }
      .addToCart {
        &.gridBtn{
          span {
            font-family: "FranklinGothicURW-Dem";
          }
        }
        @media (min-width: $screen-md-min) {
          width: 53%;
          float: left;
          height: 48px;
        }
      }
      .qtyContainer {
        @media (min-width: $screen-md-min) {
          width: 44.859%;
          margin-right: 10px;
          float: left;
          .qtyBox, .qtyController {
            height: 45px;
            line-height: 45px;
          }
        }

      }

      .quickInfo {
        @include clearfix();
        border-bottom: 1px dashed #dedede;
        @media (min-width: $screen-sm-min) {
          border-bottom: 0px;
        }
        .popover-content{
          width: 190px;
          &> div{
            padding: 5px 0 ;
            @include clearfix();
            width: 100%;
            a{
              font-family: 'FranklinGothicURW-Dem';
              color:$charcoal;
              display: block;
              float: left;
            }
          }
          .borderBottom{
            border-bottom: 1px solid #eeeeee;
          }

          .tipIcon{
            float: right;
          }
        }

        .middleItem {
          border-top: 1px solid #eeeeee;
          border-bottom: 1px solid #eeeeee;
        }
        li {
          color: #81878a;
          font-size: 12px;
          line-height: 29px;
          &.surcharge{
            color:$charcoal;
            font-size: 14px;
            font-family: "FranklinGothicURW-Dem";
            b{
              color:#09b2d4;
            }
          }
          svg {
            height: 15px;
            width: 15px;
            margin: 0 5px -3px 0;
          }
          font-family: "FranklinGothicURW-Boo";
          b {
            font-family: "FranklinGothicURW-Dem";
            color: $clover;
            font-size: 14px;
          }
        }
        .myList {
          .btn-lightGreyGhost {
            @media (max-width: $screen-sm-max) {
              border: none;
              &:hover {
                border: none;
                box-shadow: none;
              }
              &:active {
                box-shadow: none;
              }
              font-family: "FranklinGothicURW-Boo";
              b {
                display: block;
              }
            }
          }
          svg {
            fill: #81878a;
            margin-bottom: -2px;
            @media (max-width: $screen-sm-max) {
              display: block;
              margin: 0 auto 5px;
              box-shadow: 0 1px 6px rgba(0, 0, 0, 0.14);
              border: 1px solid #e5e5e5;
              padding: 5px;
              box-sizing: content-box;
              border-radius: 50%;
              width: 20px;
              height: 22px;
            }
          }
          &:hover {
            .animate {
              animation: animationFrames linear .5s;
              animation-iteration-count: infinite;
              transform-origin: 50% 50%;
              -webkit-animation: animationFrames linear .5s;
              -webkit-animation-iteration-count: infinite;
              -webkit-transform-origin: 50% 50%;
              -moz-animation: animationFrames linear .5s;
              -moz-animation-iteration-count: infinite;
              -moz-transform-origin: 50% 50%;
              -o-animation: animationFrames linear .5s;
              -o-animation-iteration-count: infinite;
              -o-transform-origin: 50% 50%;
              -ms-animation: animationFrames linear .5s;
              -ms-animation-iteration-count: infinite;
              -ms-transform-origin: 50% 50%;
              color: $clover;
              fill: $clover;
            }
          }
        }
        .liveChat {
          display: none;
          @media (min-width: $screen-md-min) {
            display: block;
            margin-top: 15px;
            font-size: 11px;
            line-height: 15px;
            svg {
              float: left;
              margin-right: 5px;
            }
            & > div {
              b {
                font-size: 13px;
                line-height: 18px;
                display: block;
              }
              float: left;
              span {
                color: #bbbcbd;
              }
            }
          }
        }
      }
    }
  }
}

#productCartNav {
  display: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  height: 50px;
  width: 100%;
  background: #ffffff;
  margin: 10px -10px 0;
  position: absolute;
  @include clearfix();
  padding: 5px 10px;
  bottom: -50px;
  &.notCarried{
    bottom: 0;
    padding: 0;
    left: 0;
    margin: 0;
    height: 0;
    box-shadow: none;
  }
  @media (min-width: $screen-sm-min) {
    bottom: auto;
    height: 80px;
  }
  &.headroom--not-top {
    display: block;
    @media (min-width: $screen-md-min) {
      display: table;
    }
  }

  &.headroom--unpinned {
    display: none;
  }
  .imgHolder {
    width: 40px;
    float: left;
    text-align: center;
    padding-right: 10px;
    img {
      height: 38px;
    }
    @media (min-width: $screen-sm-min) {
      width: 80px;
      img {
        height: 70px;
      }
    }
  }
  .navProduct {
    float: left;
    font-family: "FranklinGothicURW-Boo";
    vertical-align: top;
    color: $charcoal;
    .name {
      font-size: 16px;
      display: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
      @media (min-width: $screen-sm-min) {
        display: block;
      }
      @media (min-width: $screen-lg-min) {
        width: auto;
        overflow: auto;
        white-space: normal;
      }
    }
    .price {
      display: block;
      font-size: 13px;
      i {
        color: #81878a;
        text-decoration: line-through;
        font-style: normal;
      }
      small {
        color: #dd7e00;
        font-size: 13px;
        font-family: "FranklinGothicURW-dem";
      }
      span {
        display: block;
        @media (min-width: $screen-sm-min) {
          display: inline;
        }
      }
    }
    ul {
      font-family: "FranklinGothicURW-Dem";
      margin: 0;
      display: none;
      position: relative;
      bottom: -5px;
      border-top: 1px solid #eeeeee;
      li {
        padding-right: 29px;
        text-transform: uppercase;
      }
      a {
        line-height: 30px;
        padding-bottom: 4px;
        color: $clover;
        font-size: 13px;
        &:hover {
          text-decoration: none;
          color: $charcoal;
          border-bottom: 4px solid $clover;
        }
      }
      @media (min-width: $screen-sm-min) {
        display: block;
      }
    }
    @media (min-width: $screen-sm-min) {
      display: block;
      width: 60%;
    }
    @media (min-width: $screen-lg-min) {
      display: block;
      width: 70%;
    }

  }
  .cell {
    float: right;
    width: 90px;
    svg {
      display: none;
    }
    @media (min-width: $screen-sm-min) {
      width: 210px;
      margin-top: 14px;
    }
    @media (min-width: $screen-md-min) {
      width: 290px;
      display: block;
      svg {
        display: inline-block;
      }
    }
    .addToCart, .notifyMe {
      font-size: 12px;
      line-height: 12px;
      padding-top: 7px;
      padding-bottom: 7px;
      font-family: "FranklinGothicURW-Boo";
      small {
        font-family: "FranklinGothicURW-Dem";
        font-size: 11px;
        display: block;
        color: $charcoal;
      }
      @media (min-width: $screen-sm-min) {
        font-size: 16px;
        line-height: 26px;
        small {
          font-size: 16px;
          display: inline;
        }
      }
      &.gridBtn {
        span {
          font-family: "FranklinGothicURW-Dem";
          line-height: 20px;
        }
      }
    }
    .notifyMe {
      @media (max-width: $screen-sm-max) {
        padding: 6px 2px 7px;
        span {
          display: block;
        }
      }
    }
  }
}

.backOrderBanner, .outOfStockBanner{
  background: #09b2d4;
  color:#ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  bottom:-23px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  line-height: 23px;
  font-size: 12px;
  b{
    font-size: 14px;
  }
  svg{
    vertical-align: text-top;
  }
}

.menuLogoMobileInverted{
  display: none;
}
.fixedNav.invert {
  background-color: #74787c;
  .menuLogoMobile{
    display: none;
  }
  .menuLogoMobileInverted{
    display: block;
  }
 .menuIcon, .freeShipping b, .freeShipping b small, .myAccountFixed{
   color:#ffffff;
 }
  .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
    background-color: #ffffff;
  }

}
.boughtTogether {
  display: none;
}
@media (min-width: $screen-lg-min) {
  .boughtTogether {
    display: block;
    margin-bottom: 30px;
    .add{
      font-size: 60px;
      color:$clover;
      font-family: "FranklinGothicURW-Dem";
      float:left;
      margin: 40px 20px 0;
    }
    .productContainer {
      width: 365px;
      height: 150px;
      padding: 5px;
      margin: 0;
      float: left;
      img {
        width: 128px;
        float: left;
      }
      .productDescription {
        margin-top: 30px;
        .name {
          font-size: 13px;
          line-height: 16px;
        }
        .price {
          font-size: 16px;
        }


      }
    }
    .buyTogetherCallout{
      width: 240px;
      h2 {
        span{
          font-family: "FranklinGothicURW-Boo";
          color:#81878a;
        }
      }
      b{
        color:#dd7e00;
        line-height: 24px;
      }
      .addToCart{
        margin-top: 20px;
        font-size: 16px;
        svg{
          margin-top: -3px;
        }
      }
    }
  }
}

.doNotWorry{
  img{
    display: block;
    margin: 10px auto 20px;
  }
  color:#09b2d4;
  text-align: center;
  font-size: 18px;
  font-family: "FranklinGothicURW-Boo";
  span{
    display: block;
    padding-top:10px;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 40px;
    font-family: "FranklinGothicURW-Hea";
    i{
      font-style: normal;
      color:#67c2d4;
    }
  }
}

#suggestedSimilar{
  .slick-prev{
    left: -25px;
  }
  .slick-next{
    right: -25px;
  }
  @media (min-width: $screen-sm-min) {
    display: none;
    &.slick-initialized{
      display: block;
    }
  }
  .suggestedProduct {
    background: #fff;
    width: 168px;
    height: 260px;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    border: 1px solid #eeeeee;
    border-bottom-color: #dbdbdb;
    padding: 10px;
    .thumb {
      display: block;
      margin: 0 auto;
      width: 128px;
      max-height: 128px;
      text-align: center;
      img {
        max-width: 100%;
        width: auto;
        margin: 0 auto;
      }
    }
    .suggestedInfo {
      padding-top: 8px;
      .heading{
        font-size: 11px;
        line-height: 18px;
      }
      .twoLines {
        font-size: 13px;
        display: block;
        font-family: "FranklinGothicURW-Boo";
        color: $charcoal;
        padding-top: 5px;
        @include multiLineEllipsis($lineHeight: 16px, $lineCount: 3.5)
      }
      > span{
        font-size: 16px;
        color: $charcoal;
        display: block;
        margin-top: 5px;
        small{
          padding-left: 5px;
          text-decoration: line-through;
          font-size: 11px;
        }
      }
    }
    @media (min-width: $screen-sm-min) {
      margin: 0 0 10px 0;
      width: 100%;
      height: 150px;
      .thumb {
        float: left;
      }
      .suggestedInfo {
        margin-left: 138px;
        padding-top: 15px;
        > span {
          font-size:24px;
        }
        .twoLines {
          padding-top: 0;
          font-size: 16px;
          @include multiLineEllipsis($lineHeight: 18px, $lineCount: 2)
        }
      }
    }
  }
}

.optionFlyoutController {
  cursor: pointer;
  -webkit-appearance: none;
  background: url(../images/green-arrow-icon-side.svg) 96% 50% no-repeat;
  background-position: 93% 50%;
  height: 60px;
  font-family: "FranklinGothicURW-Boo";
  font-size: 16px;
  margin-bottom: 15px;
  color: #6d7275;
  display: block;
  width: 100%;
  line-height: 14px;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset;
  padding: 10px 15px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  letter-spacing: .03em;
  b {
    display: block;
    font-size: 14px;
    line-height: 18px;
  }
}