.reward-item {
  padding-bottom: 20px;
  h2 {
    line-height: 2em;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
    &:after {
      content: '+';
      float: right;
      @media (min-width: 1200px) {
        margin-right: 30px;
      }
    }
    &.active-reward-item:after {
      content: '-';
    }
  }
}
.reward-details {
  display: none;
  padding-top: 20px;
}
#reward-hero {
  background: url('../images/LuckyRewards-hero.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vw;
  width: 100vw;
  @media (max-width: 768px) {
    margin-top: 50px;
  }
}
